// Colors 
$colors: (
    light: #faf6f6,
    dark: #1d1d1d,
    grey: #9b9b9d,
    colorSecundario: #ff9e1b,
    bluedark: #121e4d,
    bluemedium: #417ec7,
    bluelight: #56c9ea,
);

// Weights 
$weights: (
    light: 100,
    thin:200,
    normal:500,
    bold:700,
);

//Fonts
$fuentePrincipal: 'Prompt', sans-serif;